.secao-sobre {
  background-color: #f8f7ff;
  padding         : 100px 20px;
  text-align      : center;
}

.containerSobre {
  line-height: 32px;
}

.containerCard {
  margin-top: 50px;
  display   : flex;
  flex-wrap : wrap;
}

.containerCard img,
.cardSobre {
  width     : 50%;
  max-height: 300px;
  border    : solid 1px #a1adad;
}

.containerCard img {
  object-fit: cover;
}

.cardSobre {
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  background-color: #fff;
  padding         : 20px 25px;
}

.cardSobre h4 {
  font-size     : 36px;
  text-transform: uppercase;
  font-family   : 'Anybody', cursive;
  letter-spacing: 5px;
  line-height   : 42px;
}

.cardSobre p {
  font-size: 22px;
  color    : #4a4a4a;
}

/*Responsivo páginas*/
@media (max-width: 768px) {
  .secao-sobre {
    padding: 60px 20px;
  }

  .cardSobre {
    padding: 15px;
  }

  .cardSobre h4 {
    font-size: 22px;
  }

  .cardSobre p {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .secao-sobre {
    padding: 0 10px;
  }

  .containerCard {
    display       : flex;
    flex-direction: column;
  }

  .containerCard img,
  .cardSobre {
    width : 100%;
    height: 300px;
  }
}