/*Secao produtos*/
.secao-produtos {
  width     : 100%;
  text-align: center;
  padding   : 100px 20px;
}

.containerCards {
  margin         : 50px 0px;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.cards {
  background-color: #f6f6f6;
  width           : calc(50% - 15px);
  padding         : 20px 10px;
  margin-bottom   : 20px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;
}

.cards h3 {
  margin   : 0;
  font-size: 32px;
}

.cards img {
  width     : 80%;
  max-height: 150px;
  margin    : 30px 0;
  object-fit: contain;
}

.cards p {
  margin     : 0;
  font-weight: bold;
  font-size  : 22px;
}

.secao-produtos ul {
  padding       : 0 20px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.secao-produtos li {
  text-align: left;
  margin    : 5px;
}