.secaoContato {
  width           : 100%;
  text-align      : center;
  color           : #fff;
  padding         : 100px 20px;
  background-color: #05031b;
}

.contatoCards {
  display        : flex;
  align-items    : center;
  justify-content: center;
  padding        : 15px;
  text-align     : left;
}

.cardContato {
  margin: 30px;
}

.cardContato h4 {
  margin-bottom: 50px;
}

.miniCard {
  margin: 5px 0;
}

.contatoCards img {
  width: 18px;
}

.contatoCardss span {
  font-size  : 14px;
  margin-left: 10px;
}

/*Responsividade páginas*/
@media (max-width: 768px) {
  .secaoContato {
    padding: 60px 20px;
  }
}

@media (max-width: 550px) {
  .contatoCards {
    padding        : 60px 10px;
    align-items    : center;
    justify-content: center;
  }

  .contatoCards {
    flex-direction: column;
  }

  .cardContato {
    align-items: center;
  }

  .cardContato h4 {
    text-align: center;
  }

  .miniCard {
    width: 150px;
  }
}